<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Card List</h1>
<h3 th:text="${message}"></h3>
<table>
    <tbody>
        <tr th:each="card, loop : ${cards}">
            <td th:text="${loop.count}"></td>
            <td th:text="${card.title}"></td>
            <td th:text="${card.imagePath}"></td>
        </tr>
    </tbody>
</table>

<form th:action="@{/image/upload}" method="post" enctype="multipart/form-data">
    <input name="title" type="text" placeholder="title.." />
    <input name="image" type="file" />
    <button type="submit">등록하기</button>
</form>

</body>
</html>