<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Card List</h1>
<h3 th:text="${message}"></h3>

<form th:action="@{/image/upload}" method="post" enctype="multipart/form-data">
    <input name="title" type="text" placeholder="title.." />
    <input name="image" type="file" />
    <button type="submit">등록하기</button>
</form>

<table>
    <tbody>
        <tr th:each="card, loop : ${cards}">
            <td th:text="${loop.count}"></td>
            <td th:text="${card.title}"></td>
            <td>
                <img style="height: 300px; width: auto;" th:src="@{|/image/get/${card.id}|}" class="card-img-top" alt="image"/>
            </td>
            <td th:text="${#temporals.format(card.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(card.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>